{% include 'admin/layout/header.html' %}
{% include 'admin/layout/navbar.html' %}

<!-- admin -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">ARIMA Page</h1>

                    <div class="card">
                        <div class="card-header">
                            ARIMA Configuration
                        </div>
                        <form action="addconf" method="POST">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Stocks</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="emiten">
                                        <option selected>Choose...</option>
                                    {% for row in data %}
                                        <option value="{{row.0}}">{{row.3}} ({{row.2}})</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <p style="color: red;">*If the stock you want to choose does not exist, then go to the "Stock"
                                    page and input the new stock data</p>
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect02">Dataset</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect02" name="dataset">
                                        <option selected>Choose...</option>
                                    {% for row in data1 %}
                                        <option value="{{row.0}}">{{row.2}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                      <!-- <label for="inputEmail4">Email</label> -->
                                      <input type="text" class="form-control" placeholder="Input p value" name="p">
                                    </div>
                                    <div class="form-group col-md-4">
                                      <!-- <label for="inputPassword4">Password</label> -->
                                      <input type="text" class="form-control" placeholder="Input d value" name="d">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <!-- <label for="inputPassword4">Password</label> -->
                                        <input type="text" class="form-control" placeholder="Input q value" name="q">
                                    </div>                                    
                                </div>                                    
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit" name="submit">Submit</button>                                
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



{% include 'admin/layout/footer.html' %}