{% include 'header.html' %}

        <!-- Masthead-->
        <header class="masthead text-white text-center" style="background-color: #4e73df;">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--> 
                <!-- <img class="masthead-avatar mb-5" src="../static/img/undraw_stock_prices_re_js33.svg" alt="..." /> -->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Forestock</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Stock</p>
            </div>
        </header>


               

{% include 'footer.html' %}